NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
PRIVY_APP_SECRET=
LINK_COMPLETE_SECRET=
NEXT_PUBLIC_PLEASE_API_BASE=http://localhost:8080
NEXT_PUBLIC_PLEASE_WEB_URL=http://localhost:3000
NEXT_PUBLIC_ANYONE_WEB_BASE=https://anyone.market
API_URL=https://prod.api.pronostico.market/api
API_TOKEN=
