NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
PRIVY_APP_SECRET=
LINK_COMPLETE_SECRET=
NEXT_PUBLIC_PLEASE_API_BASE=http://localhost:8080
NEXT_PUBLIC_PLEASE_WEB_URL=http://localhost:3000
NEXT_PUBLIC_ANYONE_WEB_BASE=https://anyone.market
API_URL=https://prod.api.pronostico.market/api
API_TOKEN=
NEXT_PUBLIC_ENABLE_TESTNET_FAUCET=true
NEXT_PUBLIC_MUSDC_FAUCET_ADDRESS=0xd23b0E459f656D61f65eA2949fF4347fc411b4a6
NEXT_PUBLIC_MUSDC_FAUCET_CALLDATA=0x9f678cca
