NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_CHIWIWIS_API_BASE=http://localhost:8080
NEXT_PUBLIC_CHIWIWIS_WEB_URL=http://localhost:3000
NEXT_PUBLIC_ANYONE_WEB_BASE=https://anyone.market
API_URL=https://prod.api.pronostico.market/api
